<head>
  <link
    href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    rel="stylesheet"
    id="bootstrap-css"
  />
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

{% extends "base.html" %} {% block title %}Post{% endblock %} {% block content
%}
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css"
  rel="stylesheet"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<br />
<div class="content-bg">
  <h1 align="center" class="titles">Post a bug</h1>
  <form method="POST">
    <div class="row-fluid">
      <select
        class="form-control select2"
        data-live-search="true"
        data-style="btn-primary"
        name="game"
      >
        <option selected>Select Game</option>
        {% for game in games %}
        <option value="{{ game.id }}">{{ game.game_title }}</option>
        {% endfor %}
      </select>
    </div>

    <br />

    <div class="form-group">
      <textarea
        class="form-control"
        id="post-title"
        name="title"
        rows="1"
        placeholder="Enter your bug title"
      ></textarea>
    </div>
    <br />
    <div class="form-group">
      <textarea
        type="textarea"
        class="form-control"
        id="post-description"
        name="description"
        rows="3"
        placeholder="Enter your bug description"
      ></textarea>
    </div>
    <br />
    <div align="center">
      <button type="submit" class="btn btn-primary">Post</button>
    </div>
  </form>
  <br />
</div>
<script>
  $(".select2").select2();
</script>
{% endblock %}
