{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<br />
<div class="content-bg">
  <form method="POST">
    <h3 align="center" class="titles">Sign Up</h3>
    <br />
    <div class="form-group">
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter email"
      />
    </div>
    <br />
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        id="userName"
        name="userName"
        placeholder="Enter username"
      />
    </div>
    <br />
    <div class="form-group">
      <input
        type="password"
        class="form-control"
        id="password1"
        name="password1"
        placeholder="Enter password"
      />
    </div>
    <br />
    <div class="form-group">
      <input
        type="password"
        class="form-control"
        id="password2"
        name="password2"
        placeholder="Confirm password"
      />
    </div>
    <br />
    <div align="center">
      <button type="submit" class="btn btn-primary">Create Account</button>
    </div>
  </form>
  <br />
</div>
{% endblock %}
